/* Importation de la police Poppins */


.btn-popup {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
}

.btn-popup:hover {
    background-color: #2980b9;
}

/* Style pour le conteneur du pop-up */
.popup-container {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s;
}

/* Animation de fondu pour l'apparition */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Style pour le contenu du pop-up */
.popup-content {
    background-color: #fff;
   
    border-radius: 0px;
    width: 100%;
    height: auto;
    max-width: 300px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    text-align: center;
    position: relative;
    transform: translateY(-30px);
    animation: slideDown 0.5s ease forwards;
}

.popup-content p{
    font-size: 14px;
    color: #333;
    
}

.popup-content h1{
    font-size: 25px;
    color: #333;
    margin-top: 5px;
}
/* Animation de glissement */
@keyframes slideDown {
    from {
        transform: translateY(-50px);
    }
    to {
        transform: translateY(0);
    }
}

/* Style du bouton de fermeture */
.close-button {
    position: absolute;
    top: 0px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
    transition: color 0.2s ease;
}

.close-button:hover {
    color: #e74c3c;
}

/* Style pour l'image */
.popup-image {
    width: 100%;
    margin-bottom: 20px;
}

/* Style pour l'audio et la vidéo */
.popup-audio, .popup-video {
    margin-top: 20px;
    border-radius: 0px;
}

video{
    width: 100%;
    background-color: #2980b9;
}
audio{
    width: 100%;
}


